/*
 * doxygen style
 * (c) 2015 Andrzej Budzanowski
 */

/* basic styles */
h1, h2, h3
{
 padding: 10px;
 font-weight: 500;
}

h1
{
 font-size: 20pt;
}

h2
{
 font-size: 18pt;
 border-bottom: 1px solid lime;
}

h3
{
 font-size: 16pt;
 border-bottom: 1px dotted lime;
}

sub, sup
{
 font-size: 75%;
 line-height: 0;
 position: relative;
 vertical-align: baseline;
}

sup
{
 top: -0.5em;
}

sub
{
 bottom: -0.25em;
}

a
{
 color: yellow;
 text-decoration: none;
}

a:hover
{
 text-decoration: underline;
}

/* styles for site */
body
{
 width: 770px;
 margin: 0 auto;
 background-color: #000;
 color: #fff;
 font-family: Verdana, Tahoma, serif;
 font-size: 12pt;
}

div#top > header
{
 text-align: center;
}

ul.tablist
{
 text-align: center;
}

.tablist li
{
 list-style: none;
 display: inline-block;
 padding-left: 10px;
 padding-right: 10px;
}

a.el
{
 font-family: Consolas, 'Lucida Console', 'Global Monospace', monospace;
 color: lime;
 transition: color 0.3s linear;
}

a.el:hover
{
 text-transform: uppercase;
 color: green;
}

#nav-path ul li
{
 list-style: none;
 display: inline-block;
}

#nav-path .navelem
{
}

#nav-path .navelem::after
{
 margin-left: 5px;
 margin-right: 5px;
 content: '>';
}

body footer
{
 font-size: smaller;
 text-align: center;
}

body footer > span
{
 display: block;
}

td.entry span.icona > .icon
{
 text-align: center;
 font-weight: 700;
}

/* code formatting */
.fragment
{
 font-family: Consolas, 'Lucida Console', 'Global Monospace', monospace;
}

.fragment .line .lineno
{
 min-width: 25px;
 display: inline-block;
 text-align: right;
 background-color: #2e2e2e;
}

.fragment .line
{
 background-color: #1f1f1f;
 white-space: pre;
}

.fragment .line span.comment
{
 color: #57a64a;
}

.fragment .line span.preprocessor
{
 color: #9b9b9b;
}

.fragment .line span.keyword, .fragment .line span.keywordtype,
.fragment .line span.keywordflow
{
 color: #569cd6;
}

.fragment .line span.stringliteral
{
 color: #d69d85;
}

/* tool tip ? */
.ttc
{
 display: none;
}
